raidionicsrads@git+https://github.com/dbouget/raidionics_rads_lib
gradio==4.3.0
gradio_shinymodel3d@https://github.com/raidionics/LyNoS/releases/download/ShinyModel3D/gradio_shinymodel3d-0.0.1-py3-none-any.whl
